//*---------> Imported Roboto Font from: https://fonts.google.com/specimen/Roboto

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

//*---------> Font variables

$roboto: "Roboto", sans-serif;

//*---------> Color variables

$dark: #1d1d1f;
$light: #fafafc;
$blue: #0043c1;
$dGreen: #00a796;
$lGreen: #c9f1d5;
$yellow: #efcd51;
$orange: #f58f51;
$pink: #fbd5be;
